@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Ropa+Sans:ital@0;1&display=swap'); 
 
 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "Ropa Sans", sans-serif;
    padding: 15px 30px;
    background-color: white;
    color: black;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
    z-index: 1000;
    cursor: pointer;
 }

 .logo {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
 }

 .logo img {
    width: 50px;
 }

 nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 30px;
    font-weight: 700;

    a {
   color: black;
 }

 }

 
 .menu-icon {
   display: none;
 }

 @media (max-width:650px) {
   .logo img {
      width: 28px;
   }

   .logo {
      font-size: 14px;
   }

   nav ul li {
      margin: 10px 13px;
      font-size: 14px;
   }

   
  .mobile-menu {
    position: fixed;
    top: 0;
    right: -220px;
    height: 100vh;
    width: 200px;
    background: #fff;
    color: black;
    padding-top: 70px;
    transition: right 0.4s ease;
    z-index: 1000;
  }

  .mobile-menu.open {
    right: 0;
  }

  .mobile-menu li {
    display: block;
    margin: 25px 40px;
  }

  .menu-icon {
    display: block;
    width: 25px;
    cursor: pointer;
    z-index: 1001;
  }
 }