
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Ropa+Sans:ital@0;1&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: white;
   font-family: "Bricolage Grotesque", sans-serif;
   
}


a {
  text-decoration: none;
  color: white;
}

